node_modules

excluded
.env*
.dev.vars

/data/raw/
/data/processed/
*.tmp
*.temp

# Models and Artifacts
*.pt
*.pth
*.h5
*.keras
*.onnx
*.pkl
*.joblib
checkpoints
logs
runs
mlruns

/venv/
.venv/
env/
Pipfile.lock
poetry.lock
pdm.lock
.claude
CLAUDE*

.fisk

.vscode
.idea
*.iml
.DS_Store
Thumbs.db

.wrangler

docs

*.crt

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions



